<!DOCTYPE html>
<html>
<head>
  <title>SlideShow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
<h1>Slide.show</h1>
</header>
<div class="wrapper">
  <div id="content" class="content" draggable="true">
    <div data-pjax-container >
      <%= yield %>
    </div>
  </div>
</div>
<footer>
<div class="copy">
  c RH.dev
</div>
</footer>
  <script>
    $(".slide a").pjax("[data-pjax-container]")
    $(window).bind("popstate", function(){});
    $(document).bind("start.pjax", function(){
      pos = {marginLeft:""}; //margin clear
      $('#content').animate({marginLeft:'-=' + $(window).width() + 'px',opacity:'0'},500,function(){
        setTimeout(function(){
          $('#content').css($.extend({opacity:'1'}, pos))
        },40);
      });
    });

  </script>

</body>
</html>
